<div class="qr-card">
  <div class="qr-card__image-container">
    <img
      [src]="sanitizedQrCode"
      alt=""
      [alt]="'UI.QR_CARD.ALT_TEXT' | translate" />
  </div>

  <div class="qr-card__data">
    @if (showRawValue()) {
      <code>{{ rawValue() }}</code>
    }

    @if (showCopyButton()) {
      <main-button
        label="UI.ACTIONS.COPY"
        variant="primary"
        (clicked)="onCopy()" />
    }
  </div>

  @if (showCheckbox()) {
    <div class="qr-card__confirm">
      <label
        (mouseenter)="isHovered.set(true)"
        (mouseleave)="isHovered.set(false)"
        [class.is-revert-mode]="isChecked() && isHovered()">

        <input
          type="checkbox"
          [checked]="isChecked()"
          (change)="onCheckboxChange($event)" />

        <span>{{ labelKey() | translate }}</span>
      </label>
    </div>
  }
</div>
