<background>
  <section class="login">
    <div class="login__wrapper">
      <div class="login__container">
        <close-button />

        <div class="login__header">
          @switch (flowStep()) {
            @case ('INIT') {
              <h1 class="login__title">{{ 'PAGES.AUTH.LOGIN.STEP1' | translate }}</h1>
            }
            @case ('PWD_DISPLAY') {
              <h1 class="login__title">{{ 'PAGES.AUTH.LOGIN.STEP2' | translate }}</h1>
            }
            @case ('MFA_DISPLAY') {
              <h1 class="login__title">{{ 'PAGES.AUTH.LOGIN.STEP3' | translate }}</h1>
            }
          }
        </div>

        @switch (flowStep()) {
          @case ('INIT') {
            <dynamic-form
              [fields]="loginFields"
              [isLoading]="isLoading()"
              (submitted)="onFormSubmit($event)"
              (cancelled)="onCancel()" />
          }
          @case ('PWD_DISPLAY') {
            <qr-code-card
              [qrCode]="authService.currentPasswordQrCode()!"
              [rawValue]="authService.currentRawPassword()!"
              title="PAGES.AUTH.QR_VIEW.QR_TITLE"
              [showCheckbox]="true"
              (confirmToggled)="isPasswordConfirmed.set($event)" />
            <main-button
              label="UI.ACTIONS.CONFIRM_NOTED"
              [isDisabled]="!isPasswordConfirmed()"
              (clicked)="confirmPasswordNoted()" />
          }
          @case ('MFA_DISPLAY') {
            <qr-code-card
              [qrCode]="authService.currentMfaQrCode()!"
              [rawValue]="'MFA_SECRET_HIDDEN'"
              title="PAGES.AUTH.QR_VIEW.MFA_TITLE"
              (copied)="finalize()" />
          }
        }
      </div>
    </div>
  </section>
</background>
