:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4rem 2rem;

  &__wrapper {
    width: 100%;
    max-width: 480px;
    animation: fade-in-up 0.3s ease-in-out;
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 40px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    background-color: var(--bg-white-color);
    box-shadow: var(--shadow-login-page);
    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;
  }

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;

    main-button {
      flex: 1;
      width: 100%;
    }
  }

  &__title {
    font-size: var(--font-size-h1-form);
    margin-bottom: 10px;
  }

  &__instruction {
    font-size: var(--font-size-base);
    line-height: 1.5;
    color: var(--text-secondary-color);
    margin-bottom: 16px;

    &--centered {
      text-align: center;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
