<section class="login">
  <div class="login__wrapper">
    <div class="login__container">
      <close-button />

      <div class="login__header">
        <h1 class="login__title">{{ 'PAGES.AUTH.LOGIN.TITLE' | translate }}</h1>

        <p class="login__subtitle">
          {{ 'PAGES.AUTH.LOGIN.SUBTITLE' | translate }}
        </p>
      </div>

      @if (loginFields().length) {
        <dynamic-form
          [fields]="loginFields()"
          [isLoading]="isLoading()"
          (submitted)="onFormSubmit($event)"
          (cancelled)="onCancel()" />
      }
    </div>
  </div>
</section>
