<background>
  <section class="personal-space">
    <div class="personal-space__hero">
      <div class="personal-space__welcome">
        <img
          ngSrc="assets/logos/logo.png"
          width="529"
          height="152"
          priority
          alt="{{ appNameKey() | translate }}"
          class="personal-space__logo" />

        <h1 class="personal-space__title">{{ 'PAGES.PERSONAL_SPACE.HERO.TITLE' | translate }}</h1>

        <p class="personal-space__description">
          <strong class="personal-space__accent">{{ appNameKey() | translate }}</strong>
          {{ 'PAGES.PERSONAL_SPACE.HERO.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </section>
</background>
